.list-items-container {
  display: flex;
  align-items: space-around;
  flex-direction: column;
  background-color: #38369a;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.list-items-container__input {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 3px;
}

.list-items-container__list {
  display: flex;
  width: 100%;
  height: calc(100% - 30px);
  padding: 0 30px;
}
